.heroBanner {
  background-color: #161616; /* cor de fundo */
}

.heroTitle {
  font-size: 3rem; /* Tamanho do título */
  color: white;
}

.centeredTitle {
  text-align: center; /* Centraliza o texto */
  margin-top: 20%;    /* Ajusta a margem superior */
  font-size: 4rem;    /* Ajuste o tamanho da fonte conforme necessário */
}
